.header-deco{
    color: darkcyan; 
    text-align: left;
    padding-bottom: 10px;
}

.container{
    padding-left: 100px;
}

.second-button{
    margin-left: 20px
}

.error-message{
    color: red;
}
